.flex{
  
  display:flex;
  padding:30px;
  border:2px solid black;
  
  justify-content:space-between;

 }
.test{
  flex-grow:0.5
}
.input{
  
  border:none;
  border-bottom:2px solid gray;
  width:100%;
}

.input:focus {
    outline-width: 0;
   border-bottom:2px solid lightgray;
}

.active{
  
  color:red;
  
  
}